In [1]:
# Pandas is used for data manipulation
import pandas as pd

In [2]:
# Read in data and display first 5 rows
books = pd.read_csv('books.csv',header=0, error_bad_lines=False)
books.head(5)

C:\Users\user\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [3]:
print('The shape of our features is:', books.shape)

The shape of our features is: (11123, 12)

In [4]:
# Descriptive statistics for each column
books.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11123.000000,11123.000000,1.112300e+04,11123.000000,1.112300e+04,11123.000000
mean,21310.856963,3.934075,9.759880e+12,336.405556,1.794285e+04,542.048099
std,13094.727252,0.350485,4.429758e+11,241.152626,1.124992e+05,2576.619589
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10277.500000,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780582e+12,299.000000,7.450000e+02,47.000000
75%,32104.500000,4.140000,9.780872e+12,416.000000,5.000500e+03,238.000000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [5]:
# One-hot encode the data using pandas get_dummies
books = pd.get_dummies(books)

# Display the first 5 rows of the last 12 columns
books.iloc[:,5:].head(5)

,text_reviews_count,title_ said the shotgun to the head.,title_$30 Film School: How to Write Direct Produce Shoot Edit Distribute Tour With and Sell Your Own No-Budget Digital Movie,title_'Salem's Lot,title_1 000 Places to See Before You Die,title_10 lb Penalty,title_100 Great Fantasy Short Short Stories,title_100 Love Sonnets,title_100 Years of Lynchings,title_1000 Record Covers,...,publisher_小学館,publisher_小学館 [Shōgakukan],publisher_時報出版,publisher_東立,publisher_皇冠文化出版有限公司,publisher_聯經出版事業股份有限公司,publisher_英文漢聲出版股份有限公司,publisher_角川書店 (Kadokawa Shoten),publisher_講談社,publisher_集英社
0,27591,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,29221,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,244,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36325,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(books['text_reviews_count'])

# Remove the labels from the features
# axis 1 refers to the columns
books= books.drop('text_reviews_count', axis = 1)

# Saving feature names for later use
book_list = list(books.columns)

# Convert to numpy array
books = np.array(books)

In [7]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_books, test_books, train_labels, test_labels = train_test_split(books, labels, test_size = 0.25, random_state = 42)

In [8]:
print('Training Books Shape:', train_books.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Books Shape:', test_books.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Books Shape: (8342, 34111)
Training Labels Shape: (8342,)
Testing Books Shape: (2781, 34111)
Testing Labels Shape: (2781,)

In [9]:
# The baseline predictions are the historical averages
baseline_preds = test_books[:,book_list.index('average_rating')]

# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)

print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  509.04

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_books, train_labels);

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_books)

# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'average_rating.')

In [ ]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', book_names = book_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

In [ ]:
# Limit depth of tree to 3 levels
rf_small = RandomForestRegressor(n_estimators=10, max_depth = 3)
rf_small.fit(train_books, train_labels)

# Extract the small tree
tree_small = rf_small.estimators_[5]

# Save the tree as a png image
export_graphviz(tree_small, out_file = 'small_tree.dot', book_names = book_list, rounded = True, precision = 1)
(graph, ) = pydot.graph_from_dot_file('small_tree.dot')
graph.write_png('small_tree.png');

In [ ]:

importances = list(rf.book_importances_)

# List of tuples with variable and importance
book_importances = [(book, round(importance, 2)) for book, importance in zipbook_list, importances)]
# Sort the feature importances by most important first

book_importances = sorted(book_importances, key = lambda x: x[1], reverse = True)
# Print out the book and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in book_importances];

In [ ]:
# New random forest with only the two most important variables
rf_most_important = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Extract the two most important features
important_indices = [book_list.index('ratings_count'), feature_list.index('text_reviews_count')]
train_important = train_books[:, important_indices]
test_important = test_books[:, important_indices]

# Train the random forest
rf_most_important.fit(train_important, train_labels)

# Make predictions and determine the error
predictions = rf_most_important.predict(test_important)
errors = abs(predictions - test_labels)

# Display the performance metrics
print('Mean Absolute Error:', round(np.mean(errors), 2), 'average_rating.')
mape = np.mean(100 * (errors / test_labels))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline

# Set the style
plt.style.use('fivethirtyeight')
# list of x locations for plotting
x_values = list(range(len(importances)))
# Make a bar chart
plt.bar(x_values, importances, orientation = 'vertical')
# Tick labels for x axis
plt.xticks(x_values, book_list, rotation='vertical')
# Axis labels and title
plt.ylabel('Importance'); plt.xlabel('Variable'); plt.title('Variable Importances');